<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>

<body>
    <h3>Edit Listing : </h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input name="listing[title]" value="<%=listing.title%>" type="text">
        <textarea name="listing[description]"><%=listing.description%></textarea>
        <input name="listing[image]" value="<%=listing.image%>" type="text">
        <input name="listing[price]" value="<%=listing.price%>" type="text">
        <input name="listing[country]" value="<%=listing.country%>" type="text">
        <input name="listing[location]" value="<%=listing.location%>" type="text">
        <button>Edit</button>
    </form>
</body>

</html> -->

<!-- In edit.ejs file we did not added validations , So we will do it later if needed -->


<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h2>Edit your Listing</h2>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

                <div class=" mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"
                        required><%=listing.description %></textarea>
                    <div class="invalid-feedback">
                        Write a short description
                    </div>
                </div>



                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required>
                </div>

                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Enter valid price
                        </div>

                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country%>" type="text" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Enter valid country name
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location%>" type="text" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Enter accurate location
                    </div>
                </div>



                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>

        </div>
    </div>